
#gearbox {
    display: flex;
    justify-content: space-between;
}


body {
    line-height: 40px;
    
    margin: 0 auto;
    padding: 0;
    background-color: #f2f2f2;
    font-family: sans-serif;
    min-width: 1200px;
    max-width: none;
    width: 100%;
    font-family: "Neucha", sans-serif;
    /* font-family: 'Noto Sans Limbu', sans-serif;
    font-family: 'Roboto Serif', serif;
    font-family: 'Rubik Bubbles', cursive; */
    /*font-family: 'Roboto Serif', serif;*/
}
footer{
    

    height: 26vh;
    
    color: rgb(0, 0, 0);
    /*rgb(255, 243, 74)*/
    
    background: rgb(66, 129, 247);
    
    width: 100%;

    position: absolute;
    margin-top: 100px;
    
}


* {
	margin: 0;
	padding: 0;
}
main {
	min-height: calc(100vh - 80px);

    margin-right: 25%;
    margin-left: 15%;
}
.png1 {
    
    text-align: center;
    
}
p,pre{

    font-size: 20px; 
    
}
header {
    position: sticky;
    top: 0;
    position: sticky;
    background: rgb(66, 129, 247);
    color: #000000;
    height: 10.5vh;

}
.headmenu{
    list-style: none;
	position: absolute;
    top: 15px;
	right: 250px;
}
header a {
    position: relative;
    color: rgb(0, 0, 0);
    margin-left: 20px;
    margin-right:20px;
    text-decoration: none;
    display: inline-block;

}
 
.title{
	font-size: 36px;
	padding-top: 10px;
    margin-left: 6.5%;
}
.logo{
    position: absolute;
	top: -50px;
    left: -10px;
	
}
h1{
    font-size: 40px; 
}

h2{
    font-size: 30px; 
}
li{
    font-size: 20px; 
    margin-left: 5%;
}

.cont{
    margin-top: 50px;
}

footer p {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 20px;
    margin-right:20px;
}   

footer a {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-left: 20px;
    margin-right:20px;
    text-decoration: none;
    display: inline-block;
}
.team{
    text-align: left;
}

#anim{
    position: relative;
    cursor: pointer;
    right: -1750px;
    top: -47px;
}